@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');





body {
  font-family: 'Raleway', sans-serif;
  background: #e0e0e0;
  color: #707070;
  margin: 0;
  padding: 0;
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='117.6' stroke-opacity='0.07' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg transform='scale(0.811)' style='transform-origin:center'%3E%3Cg transform='rotate(25.2 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-70.4 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23000' href='%23a' transform='rotate(4.4 0 0) scale(1.044)'/%3E%3Cuse stroke='%23000011' href='%23a' transform='rotate(8.8 0 0) scale(1.088)'/%3E%3Cuse stroke='%23000022' href='%23a' transform='rotate(13.2 0 0) scale(1.132)'/%3E%3Cuse stroke='%23000033' href='%23a' transform='rotate(17.6 0 0) scale(1.176)'/%3E%3Cuse stroke='%23000044' href='%23a' transform='rotate(22 0 0) scale(1.22)'/%3E%3Cuse stroke='%23000055' href='%23a' transform='rotate(26.4 0 0) scale(1.264)'/%3E%3Cuse stroke='%23000066' href='%23a' transform='rotate(30.8 0 0) scale(1.308)'/%3E%3Cuse stroke='%23000077' href='%23a' transform='rotate(35.2 0 0) scale(1.352)'/%3E%3Cuse stroke='%23000088' href='%23a' transform='rotate(39.6 0 0) scale(1.396)'/%3E%3Cuse stroke='%23000099' href='%23a' transform='rotate(44 0 0) scale(1.44)'/%3E%3Cuse stroke='%230000aa' href='%23a' transform='rotate(48.4 0 0) scale(1.484)'/%3E%3Cuse stroke='%230000bb' href='%23a' transform='rotate(52.8 0 0) scale(1.528)'/%3E%3Cuse stroke='%230000cc' href='%23a' transform='rotate(57.2 0 0) scale(1.572)'/%3E%3Cuse stroke='%230000dd' href='%23a' transform='rotate(61.6 0 0) scale(1.616)'/%3E%3Cuse stroke='%230000ee' href='%23a' transform='rotate(66 0 0) scale(1.66)'/%3E%3Cuse stroke='%2300F' href='%23a' transform='rotate(70.4 0 0) scale(1.704)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.container {
  max-width: 400px;
  min-width: 400px;
}

.title {
  font-weight: 700;
  font-size: 50px;
}

.form-rounded {
  border-radius: 2em;
}

.back-card {
  border-radius: 40px !important;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 16pt;
  font-weight: 400;
}

.city-name span {
  font-weight: 400;
  font-size: 36pt;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: -60px;
}

.temp span {
  font-weight: 100;
  font-size: 5em;
  letter-spacing: -5px;
  white-space: nowrap;
}
.card-mid {
  line-height: 0.5;
}

.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}
.high::before {
  content: '';
  background: url('img/up.svg') no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.low::before {
  content: '';
  background: url('img/down.svg') no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #202020;
}
.icon-container img {
  margin: auto;
}

.card-bottom {
  line-height: 0.5;
}
.card-bottom span {
  font-size: 12px;
}
.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -2px;
}

.navbarcolor{
  background-color: #6f42c1;
}