@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(180deg, #0e4b8c 0%, #5da9e9 40%, #8cc0e0 70%, white 100%);
  background-size: cover;
  background-attachment: fixed;
  color: #0a3d91;
}

.text-center {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 400px;
  min-width: 400px;
  margin: auto;
  padding: 20px;
}

.title {
  font-weight: 700;
  font-size: 50px;
}

.animated-title {
  animation: textAnimation 10s ease-in-out infinite;
}

@keyframes textAnimation {
  0%, 100% { color: white; }
  50% { color: #5da9e9; }
  80% { color: #f9d71c; }
}

.form-rounded {
  border-radius: 2em;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 16pt;
  font-weight: 400;
  color: #f5b300;
}

.city-name span {
  font-weight: 400;
  font-size: 36pt;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: -60px;
}

.temp span {
  font-weight: 100;
  font-size: 6em;
  letter-spacing: -5px;
  white-space: nowrap;
}

.card-mid {
  line-height: 0.5;
}

.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}

.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #202020;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;
  font-size: 1.2em;
  color: #333;
}


.card-bottom span {
  font-size: 16px;
}

.card-bottom p {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: -2px;
  margin: 0;
}

.navbarcolor {
  background-color: #0a3d91;
  padding: 1rem 0.75rem;
}

.nav-link {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin-right: 1.5rem;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.95); 
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f5b300;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

p {
  font-size: 18px;
  color: #A8C6E9;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
}

input::placeholder {
  text-align: center; 
}

input[name="city"] {
  font-size: 18px;  
  text-align: center; 
  border-radius: 2em; 
  border: 2px solid #5da9e9; 
  transition: border 0.3s, box-shadow 0.3s; 
}

input[name="city"]:focus {
  outline: none; 
  box-shadow: 0 0 10px rgba(0, 150, 255, 0.5); 
  border-color: #0e4b8c; 
}

.error-message {
  color: red;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  animation: showError 0.5s forwards;
  margin-top: 10px;
}

@keyframes showError {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes errorAnimation {
  0% { background-color: white; }
  50% { background-color: red; }
  100% { background-color: white; }
}

input[name="city"].error {
  animation: errorAnimation 0.5s forwards;
}

@keyframes showCard {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.back-card {
  border-radius: 40px !important;
  opacity: 0;
  transform: translateY(100px); 
  transition: opacity 0.5s, transform 0.5s; 
}

.back-card.show {
  animation: showCard 0.5s forwards; 
}

@keyframes sparkle {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5); /* Adjust scaling to make the sparkle more noticeable */
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.sparkle {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: gold;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%, 
    32% 57%,
    2% 35%,
    39% 35% 
  );
  opacity: 0;
  animation: sparkle 1s ease-out;
}

.sparkle-container {
  position: relative;
  display: inline-block;
}

.card.sparkle-effect {
  animation: sparkle 1s ease-out;
}

.custom-form {
  position: relative;
  background-color: #0e4b8c;
  color: #707070;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-input {
  color: #333;
  border: 2px solid #5da9e9;
  border-radius: 1em;
  transition: border-color 0.3s;
  text-align: center;
}

.custom-input:focus {
  outline: none;
  border-color: #0e4b8c;
  box-shadow: 0 0 5px rgba(0, 150, 255, 0.5);
}

.custom-button {
  background-color: #0b6dc2;
  border-radius: 1em;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s;
  width: 100%;
}

.custom-button:hover {
  background-color: #7f96ad;
}